
.logo-content {
    height: 100%; 
    object-fit: contain; 
}

.layout-censor {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.logo-content {
    height: 100%;
    object-fit: contain; 
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; 
    height: 10%; 
    margin-bottom: 20%;
    margin-top: 20%; 

    transition: all 0.2s; 
}

.ant-layout-sider-collapsed .logo {
    height:70px; 
}

  
  
  