.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: #dd4242;
  color: white;
}
tbody tr:nth-child(odd) {
  background-color: #f2f2f2; 
}
tbody tr:nth-child(even) {
  background-color: #ffffff; 
}
:where(.css-dev-only-do-not-override-xu9wm8).ant-input{
  height: 35px;
}
:where(.css-dev-only-do-not-override-xu9wm8).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 35px;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-form-item .ant-form-item-label >label {
  font-weight: bold;
}
:where(.css-dev-only-do-not-override-xu9wm8).ant-card-bordered {
  border: 1px solid #f0f0f0;
  border-top: 5px solid rgb(206, 17, 17);
}
